#navbar
{
    background:linear-gradient(to right,#2E3192,#1BFFFF);
    color:white;
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}